.body {
  min-width: 1360px;
  font-family: 'Georgia', serif;
  font-size: 18px;
  line-height: 22px;
  background-color: #232323;
  color: #ffffff;
}
.body--index {
  background-color: #232323;
  color: #ffffff;
}
body.reverse {
  background-color: #ffffff;
  color: #232323;
}
.main-nav {
  position: absolute;
  right: 100px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.main-nav--show {
  position: absolute;
  top: 50px;
  right: 230px;
  width: 500px;
  height: auto;
  transition-duration: 10ms;
}
.main-nav--show.reverse {
  background-color: #c62828;
}
.main-nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  margin: 0;
  margin-right: 30px;
  padding: 0;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__link {
  display: block;
  padding: 5px 10px;
  font-family: 'Georgia', serif;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.main-nav__link:hover {
  color: #c62828;
  transition-duration: 350ms;
}
.main-nav--show.reverse .main-nav__link:hover {
  color: #232323;
  transition-duration: 350ms;
}
.logo {
  display: block;
  margin-right: 310px;
  padding: 5px;
  border: 2px dashed #ffffff;
  border-radius: 2px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  text-decoration: none;
  color: #ffffff;
}
.logo.reverse {
  border: 2px dashed #c62828;
  color: #c62828;
}
.logo:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
  text-shadow: 0 0 1px #ffffff;
}
.logo.reverse:hover {
  border: 2px solid #232323;
  color: #232323;
  cursor: pointer;
}
.descript {
  position: relative;
  width: 480px;
  min-height: 600px;
  background-color: #ffffff;
  color: #222222;
}
.descript__wrapp {
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin: 0 auto;
  margin-top: 170px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end;
}
.descript__title {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: 'Georgia', serif;
  font-size: 50px;
  line-height: 54px;
}
.descript__text {
  font-size: 20px;
}
.descript__btn {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 115px;
  height: 70px;
  padding: 0;
  border: none;
  border-radius: 3px 0 0 3px;
  background-color: #c62828;
  text-decoration: none;
  color: #ffffff;
}
.descript__btn.reverse {
  background-color: #9A9A9A;
}
.descript__btn-text {
  width: 90px;
  font-family: 'Georgia', serif;
  font-size: 0px;
  color: #c62828;
  letter-spacing: 0.5px;
  text-align: center;
}
.descript__btn:hover {
  width: 300px;
  transition-duration: 700ms;
}
.descript__btn:hover .descript__btn-text {
  font-size: 20px;
  color: #ffffff;
  transition-duration: 800ms;
}
.container {
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}
.container--header {
  position: relative;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  padding: 50px 100px;
  padding-bottom: 50px;
}
.container--main-index {
  width: 1100px;
  margin: 0 auto;
  padding: 80px 100px;
  border-radius: 3px;
  background-color: #d2d1d1;
}
.container--main-works {
  width: 1100px;
  margin: 0 auto;
  padding: 80px 100px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #222222;
}
.container--footer {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 50px 100px;
}
.btn {
  position: absolute;
  right: 100px;
  display: block;
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: #232323;
  border: none;
  font-size: 0;
  background-image: url("../img/icon-open1.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
.btn--close {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
.btn--overlay-close {
  top: 30px;
  right: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
.btn:hover {
  cursor: pointer;
}
.bg {
  width: 620px;
  background-image: url("../img/flower_crop_1920.jpg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: 0 35%;
  background-color: #1e1e1e;
}
.copyright {
  font-family: 'Georgia', serif;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}
.copyright.reverse {
  color: #232323;
}
.copyright:hover .copyright__heart {
  color: #c62828;
}
.works__title {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-size: 38px;
  line-height: 40px;
}
.works__wrapp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works__item {
  display: block;
  width: 250px;
  margin-bottom: 30px;
}
.works__link {
  display: block;
  text-decoration: none;
}
.works__link:hover .works__picture {
  outline-offset: -11px;
  outline: 1px solid #c62828;
  transition-property: outline-offset;
  transition-duration: 350ms;
}
.works__picture {
  display: block;
  width: 250px;
  height: 300px;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: gainsboro;
}
.works__img {
  width: 100%;
  border-radius: 3px;
  object-fit: cover;
}
.social {
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.social__item {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  background-color: #d1d1d1;
  font-size: 0;
}
.social__vk-icon {
  fill: #222222;
  transform: translate(7px, 8px);
}
.social__inst-icon {
  fill: #222222;
  transform: translate(17px, 17px);
}
.social__fb-icon {
  fill: #222222;
  transform: translate(-16px, 14px);
}
.social__item:hover {
  border-radius: 50%;
  background-color: #ffffff;
  transition-duration: 700ms;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.overlay__preview {
  display: inline-block;
  height: 100%;
  margin: 30px 0;
  background: #ffffff;
}
.overlay__image[src=""] {
  display: block;
  width: 640px;
  height: 640px;
  border: 1px dotted #dddddd;
  cursor: pointer;
}
.hidden {
  display: none;
}
