.btn {
  position: absolute;
  right: 100px;
  display: block;
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: #232323;
  border: none;
  font-size: 0;

  background-image: url("../img/icon-open1.svg");
  background-repeat: no-repeat;
  background-position: 50%;


  &--close {
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &--overlay-close {
    top: 30px;
    right: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.btn:hover {
  cursor: pointer;
}

