.logo {
  display: block;
  margin-right: 310px;
  padding: 5px;
  border: 2px dashed #ffffff;
  border-radius: 2px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  text-decoration: none;
  color: #ffffff;

  &.reverse {
    border: 2px dashed #c62828;
    color: #c62828;
  }
}

.logo:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
  text-shadow: 0 0 1px #ffffff;
}

.logo.reverse:hover {
  border: 2px solid #232323;
  color: #232323;
  cursor: pointer;
}

