.logo {
  display: block;
  text-decoration: none;
  font-family: 'Georgia', serif;


  &--header{
    margin-right: 310px;
    padding: 5px;
    border: 1px dashed #fff;
    border-radius: 2px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
  }
}

.logo--header:hover {
  border: 1px solid #ffffff;
  cursor: pointer;
  text-shadow: 0 0 1px #ffffff;
  transition-duration: 250ms;
}

