.main-nav {
  position: absolute;
  right: 100px;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &--show {
    position: absolute;
    top: 50px;
    right: 230px;
    width: 500px;
    height: auto;
    transition-duration: 10ms;
  }
  &--show.reverse {
    background-color: #c62828;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link {
  display: block;
  padding: 5px 10px;
  font-family: 'Georgia', serif;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.main-nav__link:hover {
  color: #c62828;
  transition-duration: 350ms;
}

.main-nav--show.reverse .main-nav__link:hover {
  color: #232323;
  transition-duration: 350ms;
}
