.social {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.social__item {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  background-color: #d1d1d1;
  font-size: 0;
}
.social__vk-icon {
  fill: #222222;
  transform: translate(7px, 8px);
}

.social__inst-icon {
  fill: #222222;
  transform: translate(17px, 17px);
}

.social__fb-icon {
  fill: #222222;
  transform: translate(-16px, 14px);
}

.social__item:hover {
  border-radius: 50%;
  background-color: #ffffff;
  transition-duration: 700ms;
}

